body{
	
	font-family: arial, helvetica;
	font-size: .85em;
	line-height: 1.5;
	max-width: 1024px;
	margin: 0 auto;
	padding: 0;
	background: #EEFFFF;
	
	  
}

h1{
	margin: 0;
	padding: .52803333333333% 1.04166666667% 0;
	color: #990000;
	font-family: arial, helvetica, sans-serif;
	
}

h2{
	margin: 0;
	padding: .52803333333333% 1.04166666667% 0;
	color: #990000;
	font-family: arial, helvetica, sans-serif;
	
}

h3{
	margin: 0;
	padding: .52803333333333% 1.04166666667% 0;
	color: #990000;
	font-family: arial, helvetica, sans-serif;
}

h4, h5{
		margin: 0;
		padding: .52803333333333% 1.04166666667% 0;
		color: #990000;
		font-family: arial, helvetica, sans-serif;
}

p{color: #990000;

}

#offset_bgcolor {
	
		background: #FFF;
}

/*div {
	-moz-column-count: 3;
	-webkit-column-count: 3;
	
}*/

nav {
	margin: 0;
	width: 100%; 
	float: none;
	
}

header {
	width:45%;
	float: right;
	
}
	
section {
	width:45%;
	float: none;
	
}

section img {
	max-width: 27%
	
}

article {
	width:65%;
	min-width: 320px;
	float: left;
	
	
}

article img {
	max-width: 100%
	
}

#article_container{
	margin-right: 0;
	margin-left: 0;
	width: 65%;
	


	
}

#article_container img{
	
	max-width: 100%;
	max-height: 100%;
	
}

p{
		margin: 0 1.04166666667%;
		
}

ul{

	list-style-type: none;
}

a:hover{
	color: green;
}

a:link {
	
	text-decoration:none;
	
}

input:focus{
	background: #FFFFB3;
}

textarea:focus{
	background: #FFFFB3;
}

.inline{
	
	display: inline;
	
}

.nbutton{
	display: inline;
	margin: 1.5625% auto;
	padding:1.5625% 1.5625% 0;
	background-color: #00FFFF;
	height: 10px;
	width: 20%;
	border: #00FFFF;
	border-radius: 5px;
	font-size: .85em;
	text-align: center; 
	
	
}

#even{
	color: #CC9933;
}

header nav{
	float: left;
}
aside {
	
	width: 35%;
	float: right;
	text-align: center;
	background: #FFF;
	
}

aside h2 {
	color: #CC9933;
}

aside h3 {
	color: #CC9933;
}

aside img{
		max-width: 100%
}

#aside_container{
	margin-right: 0;
	margin-left: 0;
	width: 35%;
}

aside a:link {
	
	color: white;
	
}

aside a:visited {
	
	color: white;
	
}

#main {
	
	width:75%;
	
    
}

main img {
	max-width: 100%
	
}

#main_container{
	margin-right: 0;
	margin-left: 0;
	width: 75%;
	


	
}

#main_container img{
	
	max-width: 100%;
	max-height: 100%;
	
}

#button{
	
	margin: 1.5625% auto;
	padding:1.5625% 1.5625% 0;
	background-color: #00CC33;
	height: 35px;
	width: 66%;
	border: #00CC33;
	border-radius: 15px;
	font-size: 1.5em;
	text-align: center; 
	
	
}

table{
	border-collapse: collapse;
	border: 1px solid #000;
}

td {
	border: 1px solid #000;
	padding: .3em;
}

th {
	text-align: left;
	background-color: #999; 
	color: #fff;
	padding: .3em;
}

.even{
	background-color: white;
}

footer {
	clear: both;
	background: #FFF;
	
	

}

footer p {
	font-size: .85em;
	margin-bottom: 0;
	padding-bottom: .52803333333333%;
}

#footer_container{
	margin-right: 0;
	margin-left: 0;
	width: 3.9296875%;
	


	
}

#footer_container img{
	
	max-width: 100%;
	max-height: 100%;
	
}

#logo_container{
	margin-right: 0;
	margin-left: 0;
	width: 20.3%;
	

	
}

#logo_container_2{
	margin-right: 0;
	margin-left: 0;
	width: 40.3%;
	

	
}

#logo_container img{
	
	max-width: 100%;
	max-height: 100%;
	
}





.clearFix {

	clear: both;
	
}

#clearFix {

	clear: both;
	
}

#floatRight {

	float: right; 
	
}

#floatLeft {

	float: left; 
	
}

.gallerycontainer{
position: relative;
/*Add a height attribute and set to largest image's height to prevent overlaying*/
}

.thumbnail img{
border: 1px solid white;
margin: 0 5px 5px 0;
}

.thumbnail:hover{
background-color: transparent;
}

.thumbnail:hover img{
border: 1px solid blue;
}

.thumbnail span{ /*CSS for enlarged image*/
position: absolute;
background-color: lightyellow;
padding: 5px;
left: -1000px;
border: 1px dashed gray;
visibility: hidden;
color: black;
text-decoration: none;
}

.thumbnail span img{ /*CSS for enlarged image*/
border-width: 0;
padding: 2px;
}

.thumbnail:hover span{ /*CSS for enlarged image*/
visibility: visible;
top: 0;
left: 230px; /*position where enlarged image should offset horizontally */
z-index: 50;
}

/*Media Queries**********************/

/*Tablet Portrait Size to standard 960 (devices and browsers)*/
@media screen and (min-width: 768px) and (max-width: 959px){

section {
	width:55%;
	
}

section img {
	max-width: 27%
	
}

#logo_container{
	margin-right: 0;
	margin-left: 0;
	width: 20%;
	


	
}

#logo_container img{
	
	max-width: 100%;
	max-height: 100%;

	
}
}







/*Mobile Landscape to Tablet Portrait (devices and browsers)*/
@media screen and (min-width: 480px) and (max-width: 767px){



header nav{
	float: none;
	}

div {
	-moz-column-count: 2;
	-webkit-column-count: 2;
	color: #CC0033;}
	
article {
	text-align: center;
	width:100%;
	min-width: 320px;
	float: none;
	
}

#article_container{
	margin-right: 0;
	margin-left: 0;
	width: 100%;
	


	
}
aside {
	float: none;
}
section {
	width:55%;
	
}

section img {
	max-width: 27%
	
}
}

/*Mobile Portrait Size to Mobile Landscape (devices and browsers)*/
@media screen and (max-width: 479px){

header {
	display: none;
}

header nav{
	float: none;
	}

div {
	-moz-column-count: 1;
	-webkit-column-count: 1;
	
}
	
aside {

	float: none;
}
section {
	width:55%;
	
}

section img {
	max-width: 27%
	
}

#logo{
	display: none;
	
}
}
